<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Template>Normal</Template>
  <Company>jwc</Company>
  <Pages>35</Pages>
  <Words>14911</Words>
  <Characters>18180</Characters>
  <Lines>301</Lines>
  <Paragraphs>144</Paragraphs>
  <TotalTime>77</TotalTime>
  <ScaleCrop>false</ScaleCrop>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>18594</CharactersWithSpaces>
  <Application>WPS Office_12.1.0.25860_F1E327BC-269C-435d-A152-05C5408002CA</Application>
  <DocSecurity>0</DocSecurity>
</Properties>
